<mat-form-field>
  <mat-select
    placeholder="Choose warship"
    (selectionChange)="emitSelectedShip($event.value)"
    [compareWith]="canPreselect"
    [value]="selectedShipPlan">
    <mat-select-trigger *ngIf="selectedShipPlan">
      <mat-icon [svgIcon]="selectedShipPlan.icon"></mat-icon>
      {{ selectedShipPlan.name }} ({{ selectedShipPlan.parts }})
    </mat-select-trigger>
    <mat-option *ngFor="let ship of warshipSkeletons" [value]="ship">
      <mat-icon [svgIcon]="ship.icon"></mat-icon>
      {{ ship.name }} ({{ ship.parts }})
    </mat-option>
  </mat-select>
</mat-form-field>
