mat-toolbar {
  margin-bottom: 16px;
}

a {
  color: #FFFFFF;
  text-decoration: none;

  font-size: 18px;
  font-weight: 300;

  border-radius: 2px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  &:first-child {
    display: inline-block;
    margin-right: 16px;
  }

  &:hover {
    background-color: #2e3b86;
  }

  &:visited {
    color: #FFFFFF;
  }
}

a.brand {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-icon {
    padding-right: 8px;
  }
}
